div.container {
    padding: 10px;
}
div.container > * {
    display: block;
    margin-bottom: 10px;
}
.input-group > input {
    display: block;
}
input {
    display: block;
}
button.btn-primary {
    margin-left: 0px;
}
