# CodeIgniter
/system/
/user_guide/
/index.php
/readme.rst
/contributing.md
/.editorconfig
/license.txt

# These are machine specific code igniter files
/application/config/config.php
/application/config/database.php

*.class
*.DS_Store
*.classpath
*.project

# Eclipse
.metadata/

# Visual Studio Code
.vscode
